.comp {
  min-height: 250px;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.comp .counter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comp h1,
.comp .counter h3 {
  margin-bottom: 1rem;
}

.comp .counter div {
  display: flex;
  column-gap: 1rem;
}

.comp .counter button {
  border: none;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  font-size: 2rem;
  cursor: pointer;
}

.plus {
  background-color: slateblue;
  color: white;
  transition: filter 0.4s ease-in-out;
}

.minus {
  background-color: crimson;
  color: white;
  transition: filter 0.2s ease-in-out;
}

.plus:hover,
.minus:hover {
  filter: brightness(0.8);
}
